.previewRow {
  display: flex;
  align-items: flex-start;

  margin-bottom: 5px;
}

.previewRow__splitter {
  margin-right: 3px;
  margin-left: 3px;
}

.previewRow__splitter {
  margin-top: 5px;
}

/* .previewRow * .previewRow {
  margin-bottom: 0;
} */
