.previewRow {
  display: flex;
  align-items: flex-start;

  margin-bottom: 6px;
}

.previewRow__splitter {
  margin-right: 3px;
  margin-left: 3px;
}

.previewRow__splitter {
  margin-top: 5px;
}

.previewRow__key--invalid {
  background-color: red !important;
}

.preview-row__editor-wrapper {
  display: flex;
  flex-wrap: wrap;

  align-items: flex-start;
}

.previewRow__key-wrapper {
  display: flex;
  align-items: flex-start;
}
